<%- include("./partials/head.ejs",{login:login}) %>
<div class="main">
    <h1>Task Manager</h1>
<div class="container">
    
    <!-- Sidebar -->
    <%- include("./partials/side.ejs",{login:login}) %> 
    <!-- Main -->
    <main class="container__main">
        <form action='/task/edit/<%= mid %>/<%= tasks._id %>' method="POST" >
          
        <textarea class="inp"  name="dis" placeholder="Enter Task Discription"><%= tasks.description %></textarea><br />
        <% if (tasks.completed == true){ %> 
        <label class="lb">Task Completed</label><input  type="radio" name="tf" value="true" checked><br />
        <label class="lb">Task Not Completed</label><input  type="radio" name="tf" value="false"><br />
        <% } else { %>
            <label class="lb">Task Completed</label><input  type="radio" name="tf" value="true"><br />
            <label class="lb">Task Not Completed</label><input  type="radio" name="tf" value="false" checked><br />
        <% } %> 
        <label class="lb">Enter Deadline : </label><input class="date" type="date" id="mydate" name="tm"  ><br />
        <input class="button" type="submit" name="submit" value="ok">

        </form>
    </main>
</div>
</div>
